NEXT_PUBLIC_SUPABASE_URL=https://xppbvminsvnplausbybw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhwcGJ2bWluc3ZucGxhdXNieWJ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYyMjE2NDYsImV4cCI6MjA5MTc5NzY0Nn0.atPz8IshKEbj3uvqEHSWc0avjSIeMCeVQ2iuQSAXt1M
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhwcGJ2bWluc3ZucGxhdXNieWJ3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjIyMTY0NiwiZXhwIjoyMDkxNzk3NjQ2fQ.Rj_G8i0QrI56JT3EB4jHNtDU7L4CztOtewGbX4PeZXg
